<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title>Chemi Systems</title>
    @Styles.Render("~/Contents/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/storejs")
    <link rel="icon" href="@Url.Content("~/Content/img/favicon.ico")" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>
<div class="wrapper">
    <div class="content content-wrapper">
        <!-- Navigation menu -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Chemi Systems<span><img src="~/Content/img/main-icon.png" class="icon-main" height="22"></span>    </span>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-header-margin">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Store", "Index", "Catalogue")</li>
                        <li>@Html.ActionLink("About us", "About", "Home")</li>
                        <li>
                            <a href="@Url.Action("Index", "Cart")" class="fa fa-shopping-cart"><span id="cart-amount" class="badge badge-success"></span></a>
                        </li>
                        <li class="dropdown" id="menuLogin">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-user"></span>
                            </a>
                            <div class="dropdown-menu" id="account-dropdown" name="account-dropdown" style="padding: 17px; padding-top: 5px;">



                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- First section -->
        <div class="body-content">
            @RenderBody()
        </div>

    </div>
    <!-- Footer -->
    <footer class="container-fluid text-center" style="margin-top: 0 !important">
        <div class="row">
            <div class="col-md-6 col-xs-12 footer-label-container">
                <div class="btn-group-vertical btn-block text-center">
                    <a class="btn btn-default footer-btn" href="@Url.Action("About", "Home")">Chemi Systems @DateTime.Now.Year &copy;</a>
                </div>
            </div>           
            <div class="col-md-2 col-xs-6 text-center footer-callback-container">
                <a id="feedback-btn" class="btn btn-success footer-callback-btn">Feedback <span class="fa fa-envelope-o"></span></a>
            </div>
            <div class="col-md-4 col-xs-6 text-center"> 
                <img src="/Content/img/checkout-logos/payment-logo.png" style="max-height: 50px;"/>
            </div>
        </div>
    </footer>
</div>

    <!-- Modal -->
    <div class="modal fade" id="feedback-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding: 5px 5px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3><span class="glyphicon glyphicon-envelope"></span> Feedback</h3>
                </div>
                <div class="modal-body" style="padding:20px 20px;">
                    <form role="form" id="feedback-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="feedback-email" placeholder="Enter email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$">
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" id="feedback-message" rows="6" placeholder="Enter feedback..." style="-moz-resize: none; -ms-resize: none; -o-resize: none; resize: none;"></textarea>
                        </div>
                    </form>
                    <button id="feedback-post-btn" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-arrow-up"></span> Submit</button>
                </div>
            </div>

        </div>
    </div>


<script>
    $(document).ready(function() {
        //Login form loading
        $.ajax({
            url: '/Account/Login',
            contentType: 'application/html',
            type: 'GET',
            dataType: 'html',
            success (data) {
                $("#account-dropdown").html(data);
            }
        });

        //bind modal      
        $("#feedback-btn").click(function() {
            $("#feedback-modal").modal();
        });

        //send modal
        $("#feedback-post-btn").click(function() {
            var feedbackEmail = $("#feedback-email").val();
            var feedbackMessage = $("#feedback-message").val();
            $.ajax({
                url: '/Home/Feedback',
                data: { email:feedbackEmail, content:feedbackMessage },
                type: 'POST',
                success: function () {
                    bootstrap_alert.warning('The feedback is sucessfully submited', 'success', 3000);
                    $("#feedback-modal").modal("hide");
                    $("#feedback-email").clear();
                    $("#feedback-message").clear();
                },
                error: function() {
                    bootstrap_alert.warning('Error, feedback is not submitted', 'danger', 3000);
                }
            });
        });
       
       


        //item amount in cart
        var amount = localStorage.length;
        if (amount > 0)
            document.getElementById("cart-amount").innerHTML = amount;
        else
            $("cart-amount").hide();

    });

    function LoginPost() {
        $('#loading-gif').show();
        var msg = $("#LoginForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/Account/Login',
            data: msg,
            success: function() {
                SignedInGet();
            },
            error: function() {
                $('#loading-gif').hide();
                $("#logpass-input").addClass("has-error");
                bootstrap_alert.warning('Error, invalid email/password', 'danger', 3000);
            }
        });
    }

    function SignedInGet() {
        $.ajax({
            type: "GET",
            url: '/Account/SignedIn',
            dataType: 'html',
            success: function(data) {
                $("#account-dropdown").html("");
                $("#account-dropdown").html(data);
            },
            error: function() {
                alert("Error");
            }
        });

    }

    $('.dropdown').on('show.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // ADD SLidEUP ANIMATION TO DROPDOWN //
    $('.dropdown').on('hide.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });

    //modal success animation 
    bootstrap_alert = function () { }
    bootstrap_alert.warning = function (message, alert, timeout) {
        $('<div id="floating_alert" class="alert alert-' + alert + ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' + message + '&nbsp;&nbsp;</div>').appendTo('body');


        setTimeout(function () {
            $(".alert").alert('close');
        }, timeout);

    }
</script>

</body>

</html>

