<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chemi Systems</title>
    @Styles.Render("~/Contents/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/storejs")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>
<div class="wrapper">
    <div class="content content-wrapper" >
        <!-- Navigation menu -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Chemi Systems<span><img src="~/Content/img/main-icon.png" class="icon-main" height="22"></span>    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-header-margin">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Store", "Index", "Catalogue")</li>
                        <li>@Html.ActionLink("About us", "About", "Home")</li>
                        <li>
                            <a href="@Url.Action("Index", "Cart")" class="fa fa-shopping-cart"><span id="cart-amount" class="badge badge-success"></span></a>
                        </li>
                        <li class="dropdown" id="menuLogin">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-user"></span>
                            </a>
                            <div class="dropdown-menu" id="account-dropdown" name="account-dropdown" style="padding: 17px; padding-top: 5px;">



                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- First section -->
        <div class="body-content">
            @RenderBody()
        </div>
        
    </div>
    <!-- Footer -->
    <footer class="container-fluid text-center" style="margin-top: 0 !important">
        <div class="row">
            <div class="col-md-4 col-xs-8 footer-label-container">
                <div class="btn-group-vertical btn-block text-center">
                    <a class="btn btn-default footer-btn" href="#">Chemi Systems @DateTime.Now.Year &copy;</a>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 text-center footer-terms-container">
                <div class="btn-group-vertical btn-block text-center">
                    <a class="btn btn-default footer-btn" href="#">Feedback</a>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 text-center footer-callback-container">
                <a id="phone-button" class="btn btn-success footer-callback-btn">Callback <span class="glyphicon glyphicon-phone"></span></a>
            </div>
            <div class="col-md-4 col-xs-8 text-center">
                <img src="" class="footer-bank-image" alt="" />
            </div>
        </div>
    </footer>
</div>

    <!-- Dropdown -->
<script>
    $(document).ready(function () {
        //Login form loading
        $.ajax({
            url: '/Account/Login',
            contentType: 'application/html',
            type: 'GET',
            dataType: 'html',
            success (data) {
                $("#account-dropdown").html(data);
            }
        });

        //item amount in cart
        var amount = localStorage.length;
        if (amount > 0)
            document.getElementById("cart-amount").innerHTML = amount;
        else
            $("cart-amount").hide();

    });
    function LoginPost() {
        $('#loading-gif').show();
        var msg = $("#LoginForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/Account/Login',
            data: msg,
            success: function () {
                SignedInGet();
            },
            error: function () {
                $('#loading-gif').hide();
                alert("Error");
            }
        });
    }

    function SignedInGet() {
        $.ajax({
            type: "GET",
            url: '/Account/SignedIn',
            dataType: 'html',
            success: function (data) {
                $("#account-dropdown").html("");
                $("#account-dropdown").html(data);
            },
            error: function() {
                alert("Error");
            }
        });

    }
    $('.dropdown').on('show.bs.dropdown', function (e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // ADD SLidEUP ANIMATION TO DROPDOWN //
    $('.dropdown').on('hide.bs.dropdown', function (e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
</script>

</body>

</html>

