<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chemi Systems</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <!-- Navigation menu -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Chemi Systems<span><img src="~/Content/img/main-icon.png" class="icon-main" height="22"></span>    </a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navbar-header-margin">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Store</a></li>
                            <li><a href="#">About us</a></li>
                            <li>
                                <a href="#" class="fa fa-shopping-bag"><span class="badge badge-success">2</span></a>
                            </li>
                            <li class="dropdown" id="menuLogin">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="fa fa-user"></span>
                                </a>
                                <div class="dropdown-menu" id="account-dropdown" style="padding: 17px;">
                                    <p class="text-center hero-unit">Account panel</p>
                                    <form class="form" id="formLogin" role="form">
                                        @Html.AntiForgeryToken()
                                        <div class="input-group input-group-sm">
                                            <input name="username" id="email" type="text" class="form-control  dropdown-wrapper" placeholder="Email">
                                            <input name="password" id="password" type="password" class="form-control dropdown-wrapper" placeholder="Password">
                                            <div class="checkbox">
                                                <label style="font-size: 14px;"><input type="checkbox" name="rememberMe" id="rememberMe" value="">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-xs-4 col-sm-4">
                                                <button class="btn btn-primary btn-sm" type="submit" id="btnLogin">Login</button>
                                            </div>
                                            <div class="col-md-8 col-xs-8 col-sm-8">
                                                <button class="btn btn-success btn-sm" type="button" id="btnRegister" style="width: 100%">Register</button>
                                            </div>
                                        </div>
                                        <h6 class="text-center" style="margin-bottom: 0px;"><a href="#">Forgot password?</a></h6>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- First section -->
            <div class="body-content">
                @RenderBody()
            </div>
            <!-- Footer -->
            <footer class="container-fluid text-center">
                <div class="row">
                    <div class="col-md-4 col-xs-8 footer-label-container">
                        <div class="btn-group-vertical btn-block text-center">
                            <a class="btn btn-default footer-btn" href="#">Chemi Systems @DateTime.Now.Year &copy;</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 text-center footer-terms-container">
                        <div class="btn-group-vertical btn-block text-center">
                            <a class="btn btn-default footer-btn" href="#">Feedback</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 text-center footer-callback-container">
                        <a id="phone-button" class="btn btn-success footer-callback-btn">Callback <span class="glyphicon glyphicon-phone"></span></a>
                    </div>
                    <div class="col-md-4 col-xs-8 text-center">
                        <img src="" class="footer-bank-image" alt="" />
                    </div>
                </div>
            </footer>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Dropdown -->
    <script>
    $('.dropdown').on('show.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // ADD SLIDEUP ANIMATION TO DROPDOWN //
    $('.dropdown').on('hide.bs.dropdown', function(e) {
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
    </script>

    <script>
    $(document).ready(function () {
        $("#btnLogin").click(function () {
            var data = {
                "email": $("#userid").val(),
                "password": $("#password").val(),
                "rememberMe": $("#rememberMe").val()
            };
            $.ajax({
                url: "/account/login",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (status) {
                    $("#message").html(status.Message);
                    if (status.Success)
                    {
                        window.location.href = status.TargetURL;
                    }
                },
                error: function () {
                    $("#message").html("Error, wrong username/password");
                }
            });
        });
    });
    </script>

</body>

</html>

