@model List<ChemiSystems.Models.ProductInCartViewModel>
<div class="row" style="padding-top: 20px;">
    <!-- Loading gif -->
    

    <!-- Header of cart-->
    <div class="panel panel-default" style="margin-bottom: 0px;">
        <div class="panel-heading panel-heading-custom text-center col-md-6 hidden-sm hidden-xs">
            <h5>Item</h5>
        </div>
        <div class="panel-heading panel-heading-custom text-center col-md-2 hidden-sm hidden-xs">
            <h5>Price</h5>
        </div>
        <div class="panel-heading panel-heading-custom text-center col-md-2 hidden-sm hidden-xs">
            <h5>Quantity</h5>
        </div>
        <div class="panel-heading panel-heading-custom text-center col-md-2 hidden-sm hidden-xs">
            <h5>Subtotal</h5>
        </div>
        <div class="panel-heading panel-heading-custom text-center col-md-12 visible-sm visible-xs">
            <h5>Cart</h5>
        </div>

        @{ double fullprice = 0;}
        @foreach (var m in Model)
        {
            <section class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row cart-wrapper">
                            <div class="col-md-2">
                                <img src="@Url.Content(m.Product.ProductImage.ImageMain)" class="img-responsive" width="100">
                            </div>
                            <div class="col-md-10">
                                <h3 style="margin-bottom: 2px;">
                                    @Html.ActionLink(m.Product.Name, "Index", "Product", new {vendorCode = m.Product.VendorCode}, null)
                                </h3>
                                <h6 style="margin: 0px;">#@m.Product.VendorCode</h6>
                                <p>@m.Product.DescriptionMain</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 cart-wrapper">
                        <h3 class="text-center">
                            <div id="product-price" value="@m.Product.Price">@m.Product.Price</div> $/g
                        </h3>
                    </div>
                    <div class="col-md-2 cart-wrapper">
                        <div class="input-group input-btn-grp" style="width: 95%;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input id="quantity-input" type="text" name="quant[1]" class="form-control input-number" value="@m.Amount" min="1" max="9999">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                        <button type="button" class="btn btn-danger btn-xs" style="margin-left: 10px;" onclick="deleteProduct('@m.Product.Id')"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-2 cart-wrapper">
                        <h3 class="text-center">
                            @(m.Product.Price*m.Amount) $
                        </h3>
                    </div>
                </div>
            </section>
            {
                fullprice += m.Product.Price*m.Amount;
            }
        }
    </div>
    <section class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
            <div class="panel panel-default" style="border-top: none; margin-bottom: 0px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-center">Total:</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-center">
                                @fullprice $</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-2 pull-right">
            <div class="panel panel-default" style="border-top: none;">
                <div class="panel-body text-center">
                    <button class="btn btn-primary btn-large" type="button" id="btnLogin" class="btn">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

