@model List<ChemiSystems.Models.MessageViewModel>
@{
    ViewBag.Title = "Messages";
    Layout = "_ProfileLayout.cshtml";
}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="msg-wrap">
                        @foreach (var m in Model)
                        {
                            <div class="media msg">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> @m.MessageDate</small>
                                    <h5 class="media-heading">@m.SenderFullName</h5>
                                    <small class="col-lg-10">@m.MessageContent</small>
                                </div>
                            </div>
                        }
                    </div>
                    @using (Html.BeginForm("AddMessage", "AccountProfile"))
                    {
                        <div class="col-md-10 ">
                            <div class="send-wrap ">
                                @Html.TextArea("messageContent", new { rows = 3, placeholder = "Write a reply...", @class = "form-control send-message" })
                                @Html.Hidden("orderId", (Guid)ViewBag.OrderId)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-panel">
                                <input type="submit" value="Send message" class="btn btn-sm btn-primary send-message-btn pull-right"/><i class="fa fa-plus"></i>                               
                            </div>
                        </div>
                    }                   
                </div>
            </div>

