@using ChemiSystems.Models
@using Microsoft.AspNet.Identity
@model LoginViewModel
@{
    Layout = null;
}

@*
    <form class="form" id="formLogin" role="form">
        @Html.AntiForgeryToken()
        <div class="input-group input-group-sm">
            <input name="username" id="email" type="text" class="form-control  dropdown-wrapper" placeholder="Email">
            <input name="password" id="password" type="password" class="form-control dropdown-wrapper" placeholder="Password">
            <div class="checkbox">
                <label style="font-size: 14px;"><input type="checkbox" name="rememberMe" id="rememberMe" value="">Remember me</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <button class="btn btn-primary btn-sm" type="submit" id="btnLogin">Login</button>
            </div>
            <div class="col-md-8 col-xs-8 col-sm-8">
                <button class="btn btn-success btn-sm" type="button" id="btnRegister" style="width: 100%">Register</button>
            </div>
        </div>
        <h6 class="text-center" style="margin-bottom: 0px;"><a href="#">Forgot password?</a></h6>
    </form>
*@
@if (Request.IsAuthenticated)
{
    @Html.Action("SignedIn");
}
else
{
<style>
    label {
        font-size: 14px;
    }
</style>
<h5 class="text-center" style="margin-top: 5px;">Account profile</h5>
        <section id="loginForm">
            <form method="POST" id="LoginForm" action="javascript:void(null);" onsubmit="LoginPost()">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="input-group input-group-sm">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control  dropdown-wrapper", placeholder = "Email"})
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = ""})
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control dropdown-wrapper", placeholder = "Password"})
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = ""})
                    <h5>@Html.CheckBoxFor(m => m.RememberMe) Remember me</h5>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <button class="btn btn-primary btn-sm" type="submit" id="btnLogin">Login</button>
                    </div>
                    <div class="col-md-8 col-xs-8 col-sm-8">
                        @Html.ActionLink("Register", "Register", new {id = "btnRegister"}, new {@class = "btn btn-success btn-sm"})
                    </div>
                </div>
                <h6 class="text-center" style="margin-bottom: 0px;">@Html.ActionLink("Forgot your password?", "ForgotPassword")</h6>
            </form>
</section>
}

