@model ChemiSystems.Infrastructure.Entities.Product
@{
    ViewBag.Title = "Product";
}

<!-- First section -->
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <!-- Sidebar -->
        <div class="col-md-4" id="leftCol">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom text-center">
                   т <h4>@Model.Name</h4>
                </div>
                <div class="panel-body panel-image-wrapper">
                    <img src="@Url.Content(Model.ProductImage.ImageMain)" class="img-responsive" width="300">
                </div>
            </div>

        </div>
        <div class="col-md-2" style="padding: 0px;">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom text-center">
                        <h5>Molecular</h5>
                    </div>
                    <div class="panel-body panel-image-wrapper"><img src="@Url.Content(Model.ProductImage.ImageMolecular)" class="img-responsive"></div>
                </div>
                <div class="panel panel-default" style="margin-top: 15px">
                    <div class="panel-body panel-image-wrapper"><img src="@Url.Content(Model.ProductImage.ImageFormula)" class="img-responsive"></div>
                </div>
            </div>
        </div>
        <!-- Main -->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" style="margin-bottom: 15px;">
                    <div class="panel-body">
                        @Model.DescriptionMain
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 15px;">
                    <div class="panel-body">
                        @Model.DescriptionSecondary
                    </div>
                </div>
                <!-- Price panel -->
                <div class="panel panel-default col-md-6">
                    <div class="panel-body text-center">
                        <p class="" style="font-size: 25px; padding-bottom: 0px; margin-bottom: 0px;">5 $/g</p>
                        <div class="input-group input-btn-grp" style="padding-bottom: 10px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input id="quantity-input" type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="9999">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-md-5 pull-right">
                    <div class="panel-body text-center btn-add-cart">
                        <button class="btn btn-primary btn-large" type="button" id="btnLogin">Add to cart</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


