@model PagedList.IPagedList<ChemiSystems.Infrastructure.Entities.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@foreach (var p in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@p.Name</h4>
            </div>
            <div class="panel-body panel-image-wrapper">
                <img src="@Url.Content(p.ProductImage.ImageMain)" class="img-responsive" width="260">
            </div>
            <div class="panel-footer text-center row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-6 panel-footer-wrapper" style="padding-bottom: 15px;">
                    <h3>@p.Price $/g</h3>
                </div>
                <div class="col-md-6 panel-footer-wrapper">
                    <a class="btn btn-primary btn-large">Buy now</a>
                    @Html.ActionLink("Buy now", "Index", "Product", new {vendorCode = p.VendorCode}, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>       
    </div>
}
@Html.PagedListPager(Model,
 page => Url.Action("GetProducts", new { id = "", page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "catalogue-products"
        }))